# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
MONGODB_URI=

# Security & Authentication
JWT_SECRET=
JWT_EXPIRES_IN=

# CORS Configuration
CLIENT_URL=http://localhost:5173

# External APIs
NEWS_API_KEY=
NEWSAPI_AI_KEY=
GEMINI_API_KEY=
